<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo Manager</title>
</head>
<body>
    <%- include('header') %>
    
    <form action="/todos" method="post">
        <input type="text" name="title" placeholder="What's next?" required>
        <input type="date" name="dueDate" required>
        <input type="submit" value="Add">
    </form>

    <% if (allTodos.length > 0) { %>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Due Date</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
            <% allTodos.forEach(function(todo) { %>
                <tr>
                    <td><%= todo.id %></td>
                    <td><%= todo.title %></td>
                    <td><%= todo.dueDate %></td>
                    <td><%= todo.completed %></td>
                    <td>
                        <form action="/todos/<%= todo.id %>/toggle" method="post" style="display: inline;">
                            <input type="submit" value="<%= todo.completed ? 'Mark Incomplete' : 'Mark Complete' %>">
                        </form>
                        <form action="/todos/<%= todo.id %>/delete" method="post" style="display: inline;">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            <% }); %>
        </table>
    <% } %>

    <%- include('footer') %>
</body>
</html>
